[*]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.{md,yml,yaml,json,code-workspace}]
indent_style = space
tab_width = 2
trim_trailing_whitespace = true

# 4 spaces
[*.{h,cc,cpp,cs,java,sh,zsh,py}]
indent_style = space
indent_size = 4

# 4 tabs
[*.refind.conf]
indent_style = tab
tab_width = 4

[*config]
indent_style = tab
tab_width = 4

# 8 Tabs
[*.{conf,cfg,hosts.conf,fstab.conf,list.conf,smb.conf}]
indent_style = tab
tab_width = 8