[init]
	defaultBranch = main
[user]
	name = Santosh Ganti
	email = santosh.ganti@live.com
	signingkey = B26FD0B0B9666479
[commit]
	gpgsign = true
[credential]
	credentialStore = gpg
	helper = /home/deck/.dotnet/tools/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true